<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ac.lamda.mapper.CommentMapper">

<insert id="create">
insert into tbl_comment(seq, seq_user, parent, memo, seq_board) 
values(tbl_comment_seq.nextval,#{seq_user},#{parent}, #{memo},#{seq_board})
</insert>
	
<select id="countPaging" resultType="int">
select count(seq) from tbl_comment 
where seq_board=#{seq_board}
</select>
 
<select id="listPage" resultType="kr.ac.lamda.domain.CommentVO">
 <![CDATA[
 select * from(
 	select rownum as R, C.* from(
 		select level as indent, A.user_id, B.* 
 		from tbl_user A, tbl_comment B 
 		where A.seq = B.seq_user and B.seq_board=#{seq_board}
 		start with B.parent=0 connect by prior B.seq = B.parent 
 		order siblings by B.create_date desc) 
 	C where rownum <=(#{page}*5)) 
 where R >=(#{page}*5-4)
 ]]>
</select>

<delete id="delete">
		delete from tbl_comment where seq = #{seq_comment}
</delete>

<update id="update_fordelete">
update tbl_comment 
set memo='삭제된 글', 
modify_date=to_char(sysdate, 'YYYY-MM-DD HH24:MI:SS') 
where seq=#{seq_comment}
</update>
	
</mapper>
