<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ac.lamda.mapper.UserMapper">

<insert id="create">
	insert into tbl_user (seq, user_id, password, email)
	values(tbl_user_seq.nextval,#{user_id},#{password}, #{email})
</insert>

<select id="read_error" resultType="kr.ac.lamda.domain.UserVO">
select seq, errorcnt, (sysdate-banned_date)*24*60 as banned_time 
from tbl_user 
where user_id=#{user_id}
</select>
 
<select id="logincheck" resultType="kr.ac.lamda.domain.UserVO">
select seq 
from tbl_user 
where user_id=#{user_id} and password=#{password}
</select>

<select id="idcheck" resultType="kr.ac.lamda.domain.UserVO">
select user_id 
from tbl_user 
where user_id=#{user_id}
</select> 

<select id="emailcheck" resultType="kr.ac.lamda.domain.UserVO">
select email 
from tbl_user 
where email=#{email}
</select> 

<update id="init_errorcnt">
update tbl_user set errorcnt=0, banned_date=null 
where user_id=#{user_id}
</update>
 
<update id="plus_errorcnt">
update tbl_user set errorcnt=errorcnt+1 
where user_id=#{user_id}
</update>

<update id="banned_date">
update tbl_user set banned_date=sysdate 
where user_id=#{user_id}
</update>
 
 
</mapper>
